<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'blueprint/screen',
                             :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie',
                          :media => 'screen, projection' %><![endif]-->
    <script type="text/javascript" src="http://www.google.com/jsapi?key=<%=h AppConfig.google.api_key %>"></script>
    <% javascript_tag do %>
      google.load("jquery", "1.3.2");
      google.load("jqueryui", "1.7.2");
    <% end %>
    <%= javascript_include_tag 'application' %>
    <title>maz.org</title>
    <%= yield :head %>
    <% javascript_tag do %>
      $(function() {
      <%= yield :script %>
      });
    <% end %>
  </head>
  <body>
    <div id="header" class="container">
      <h1>maz.org</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div id="footer" class="container">
      <p>
        <address><a href="mailto:bcm@maz.org">bcm@maz.org</a></address>
      </p>
    </div>
  </body>
</html>
